.DropDown {
    background: var(--color-logo-bg);
    border: 2px solid var(--color-primary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    min-width: 180px;
    z-index: 100;
    transition: all 0.1s ease-in-out;
}

.DropDown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.DropDown li {
    list-style: none;
    text-align: center;
}

.DropDown li:hover {
    background-color: var(--color-primary);
    color: var(--color-logo-bg);
}

.DropDown a {
    display: block;
    width: 90%;
    color: var(--color-primary);
    text-decoration: none;
    padding: 8px;
}

.DropDown a:hover {
    background-color: var(--color-primary);
    color: var(--color-logo-bg);
}

.DropDown::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 16px;
    height: 16px;
    background: var(--color-logo-bg);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}