.footer {
    width: 100%;
    background: #1c1c1c;
    color: #fff;
    padding: 25px 0px;
    border-top: 2px solid #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 25px;
    max-width: 1100px;
    margin: auto;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
    color: #f1f1f1;
}

.footer-section p {
    margin: 4px 0;
    opacity: 0.85;
    line-height: 1.4rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #b5b5b5;
    font-size: 0.95rem;
    transition: 0.2s;
}

.footer-section ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 25px;
    padding: 12px 0;
    text-align: center;
    background: #141414;
    font-size: 0.85rem;
    opacity: 0.7;
}

/* Responsivo */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}